alias ..='cd ..'
alias ...='cd ../../'
alias ....='cd ../../../'
alias .....='cd ../../../../'
alias c=clear
alias cat='bat'
# ---- Dotfiles (chezmoi) ----
alias dfe='chezmoi edit --apply'   # edit a managed file's source (template-safe) and apply
alias dfp=df_push                  # stage + commit + push the source repo (see dotfiles.zsh)
alias dfu='chezmoi update'         # pull + apply (sync from other machines)
alias dfd='chezmoi diff'           # preview pending source -> home changes
alias dfs='chezmoi status'         # compact status
alias dfa='chezmoi apply'          # re-render source -> home

# TODO: add NixOS management aliases (nx*) mirroring the df* set above.
#   Manage the system-builder flake at ~/dev/system-builder/setup/system-settings#nixos.
#   Guard with `if (( $+commands[nixos-rebuild] ))` so they only load on NixOS.
#     nxa  nixos-rebuild switch (apply)      nxe  edit modules/nixos/default.nix
#     nxd  build + nvd diff (preview)        nxs  nixos-rebuild list-generations
#     nxu  nix flake update                  nxp  commit + push system-builder
#     nxt/nxb  test/boot   nxcd  cd to flake   nxgc  nix-collect-garbage -d
#   nxp MUST exclude the machine-specific hardware-configuration.nix, e.g.
#     git add -A -- ':!*/hardware-configuration.nix'   (nxd implies adding nvd to the flake)

alias gac='git add -A && git commit -m'
alias gb='git branch'
alias gbc='git checkout -b'
alias gbd='git branch -D'
alias gco='git checkout'
alias gd='git diff -w'
alias gds='git diff -w --staged'
alias gg='lazygit'
alias gla=pretty_git_log_all
alias grep='rg'
alias gst='git rev-parse --git-dir > /dev/null 2>&1 && git status || eza'
alias h='my_history'
alias hc='my_history -c'
alias hs='my_history | grep'
alias his='my_history | grep -i'
alias k='kubectl'
alias kc='kubectl config'
alias kcgc='kubectl config get-contexts'
alias kcu='kubectl config unset current-context'
alias kcuc='kubectl config use-context'
alias l='eza --oneline'
alias ll='eza -lh --icons --no-permissions --no-filesize --no-user --group-directories-first --colour=always'
alias ls='eza -ah --icons --no-permissions --group-directories-first --colour=always'
alias lsa='eza -lah --icons --group-directories-first --colour=always'
alias lst='eza -T --icons --colour=always'
alias nv='nvim'
alias pi='pi-wrapper'
alias ping='ping -c 3'
alias pf='btop'
alias pass='rbw'
alias pwc='rbw get --clipboard'
alias pw='rbw get'
alias pwi='rbw get --dump'
alias pws='rbw search'
alias sys='fastfetch'
alias tf='terraform'
alias vim='nvim'
{{ if eq .chezmoi.os "darwin" -}}
# macOS-only: toggle Finder hidden files and route rm through trash
alias hf='defaults write com.apple.finder AppleShowAllFiles NO; killall Finder /System/Library/CoreServices/Finder.app'
alias sf='defaults write com.apple.finder AppleShowAllFiles YES; killall Finder /System/Library/CoreServices/Finder.app'
alias rm=trash
alias dkm='lazydocker'
{{- end }}
